.container {
    display: flex;
    justify-content: end;
    padding-top: 30px;
    /* background-color: pink; */
}

input{
    color: rgb(0, 0, 0);

}

input:hover{
   color:rgb(127, 126, 126)
}
/* 
input::placeholder{
    color: green
}

input:focus{
    border-color: green;
} */